@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Goal Tracker</h1>
    <p>Manage your goals efficiently</p>
    
    
</div>

<div id="calendar">
    <link href="path/to/your/css/site.css" rel="stylesheet" />
    <script src="path/to/your/js/site.js" defer></script>
</div>


