@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Goal Tracker</h1>
    <p>Manage your goals efficiently</p>
    <a href="@Url.Action("Index", "HabitTrackingGoal")" class="btn btn-primary">
        Go to Habit Tracking Goals
    </a>
    <div class="text-center mt-4">
        <a href="@Url.Action("Index", "ProgressGoal")" class="btn btn-primary">Go to Progress Goals</a>
    </div>
</div>
